<!DOCTYPE html>
<!-- 
301016383 - Julio Vinicius A. de Carvalho
November 17, 2019
-->
<html lang="en" >
<head>
<link href="css/bootstrap.css" rel="stylesheet" />
<meta charset="UTF-8">
<title>Parrot Says</title>

<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDnhNIc55-nwsKi5D4KgGF04rwxd4g48jE&amp;sensor=false"> </script>
<script> 
	function initialize() {
		var mapProp = { 
				center:new google.maps.LatLng(report.Latitude,report.Longitude), 
				zoom:19, 
				mapTypeId:google.maps.MapTypeId.ROADMAP 
		}; 
		var map=new google.maps.Map(document.getElementById("googleMap"),mapProp); 
	} 
	google.maps.event.addDomListener(window, 'load', initialize); </script>
</head>

<body>	
	<div class="container d-flex">
	  <div class="card shadow p-3">
	  	<div class="card-header">
	  		<h2>Report Details</h2>
	  	</div>
	  	 
        	<div class="card-body">
	            <table>  
	                <tr>  
	                    <td><b><label for="ReportId">Report Id </label></b></td>  
	                    <td id="reportId"></td>
	                </tr> 
	                <tr>  
	                    <td><b><label for="Description">Description </label></b></td>  
	                    <td id="description"></td>
	                </tr>  
	                
	                <tr>  
	                    <td><b><label for="DateTimeReport">DateTimeReport </label></b></td>  
	                    <td id="dateTimeReport"></td>  
	                </tr>
	                <tr>
	                	<td colspan="2">
	                		<br><b>Map Location </b>
	                	</td>
	                </tr>
	                <tr>
		                <td colspan="2">
		                	<div id="googleMap" style="width:500px;height:380px;"></div>
		                	
		                </td>
	                </tr>
	                <tr>
	                	<td colspan="2">
	                		<br><b><label for="Picture">Picture </label></b>
	                	</td>
	                </tr>
	                <tr>
	                	<td colspan="2">
	                		<img id="image" src='data:image/png;base64,'+report.Picture style="width:500px;" alt="" />
	                	</td>
	                </tr>
	               
	            </table>  
            </div>
            
			<!-- Creates a form to add or edit a blood stock -->
			<div class="card-footer">
	            <strong>Add/Edit a Solution</strong>
	            <form action="saveSolution" th:object="${report}" method="post">  
	            
				  	<table class="table">
				  		
						<tbody>
							<tr>
								<td colspan="2">
									<input type="hidden" name="ReportId" th:field="*{ReportId}"></input>
									Solution
								</td>
							</tr>
							<tr>
								<td colspan="2">
			                    	 <textarea name="Solution" th:field="*{Solution}" class="form-control" rows="10" cols="50" ></textarea> 
			                    	<br>
			                    </td>
                    		</tr>  
                    		<tr>
                    			<td>Status</td>
                    			<td> 
		                    		<select class="form-control" id="sel1" name="StatusCode" th:field="*{StatusCode}">
								    	<option value="Opened">Opened</option>
								    	<option value="Investigation_Requested">Investigation Requested</option>
								    	<option value="Investigation_Returned">Investigation Returned</option>
								    	<option value="Solution_Requested">Solution Requested</option>
								    	<option value="Solved">Solved</option>
								  	</select>
		                    	</td>
		                    </tr>
		                   
						</tbody>
					</table>
					<div align="right">
						<input class="btn btn-danger" type="reset" value="Cancel"/>
						<input class="btn btn-success" type="submit" value="Save"></input>
		  			</div>
				</form> 
			</div>
	      </div> 
	</div>
</body>
</html>